In [63]:
import pandas as pd

points = pd.read_csv("../data/raw/points/2024-usopen-points.csv")

matches = pd.read_csv("../data/raw/match/2024-usopen-matches.csv")

In [64]:
points.columns

Index(['match_id', 'ElapsedTime', 'SetNo', 'P1GamesWon', 'P2GamesWon',
       'SetWinner', 'GameNo', 'GameWinner', 'PointNumber', 'PointWinner',
       'PointServer', 'Speed_KMH', 'Rally', 'P1Score', 'P2Score', 'P1Momentum',
       'P2Momentum', 'P1PointsWon', 'P2PointsWon', 'P1Ace', 'P2Ace',
       'P1Winner', 'P2Winner', 'P1DoubleFault', 'P2DoubleFault', 'P1UnfErr',
       'P2UnfErr', 'P1NetPoint', 'P2NetPoint', 'P1NetPointWon',
       'P2NetPointWon', 'P1BreakPoint', 'P2BreakPoint', 'P1BreakPointWon',
       'P2BreakPointWon', 'P1FirstSrvIn', 'P2FirstSrvIn', 'P1FirstSrvWon',
       'P2FirstSrvWon', 'P1SecondSrvIn', 'P2SecondSrvIn', 'P1SecondSrvWon',
       'P2SecondSrvWon', 'P1ForcedError', 'P2ForcedError', 'History',
       'Speed_MPH', 'P1BreakPointMissed', 'P2BreakPointMissed',
       'ServeIndicator', 'Serve_Direction', 'Winner_FH', 'Winner_BH',
       'ServingTo', 'P1TurningPoint', 'P2TurningPoint', 'ServeNumber',
       'WinnerType', 'WinnerShotType', 'P1DistanceRun', 'P2DistanceRun',
       'RallyCount', 'ServeWidth', 'ServeDepth', 'ReturnDepth'],
      dtype='object')

In [65]:

first_match = points[points['match_id'] == "2024-usopen-1101"]

first_match[['P1Score', 'P2Score', 'P1Momentum', 'P2Momentum', 'SetNo', 'P1GamesWon', 'P2GamesWon', 'ElapsedTime']].head(20)

,P1Score,P2Score,P1Momentum,P2Momentum,SetNo,P1GamesWon,P2GamesWon,ElapsedTime
0,0,0,0,0,1,0,0,0:00:00
1,0,0,0,0,1,0,0,0:00:00
2,15,0,4,0,1,0,0,0:00:00
3,15,15,3,2,1,0,0,0:00:20
4,15,30,1,3,1,0,0,0:01:06
5,15,40,1,4,1,0,0,0:01:33
6,30,40,3,3,1,0,0,0:02:07
7,40,40,4,1,1,0,0,0:03:01
8,40,AD,3,3,1,0,0,0:03:40
9,40,40,5,2,1,0,0,0:04:42
10,40,AD,4,4,1,0,0,0:05:13
11,40,40,7,4,1,0,0,0:05:58
12,40,AD,5,5,1,0,0,0:07:01
13,0,0,3,13,1,0,1,0:07:40
14,0,15,1,14,1,0,1,0:09:14
15,0,30,1,16,1,0,1,0:09:52
16,15,30,2,14,1,0,1,0:10:11
17,15,40,1,15,1,0,1,0:10:39
18,0,0,1,19,1,0,2,0:11:41
19,0,15,1,20,1,0,2,0:12:17

In [66]:
matches = matches[['match_id', 'year', 'slam', 'match_num', 'player1', 
         'player2']]

matches

,match_id,year,slam,match_num,player1,player2
0,2024-usopen-1101,2024,usopen,1101,Jannik Sinner,Mackenzie McDonald
1,2024-usopen-1102,2024,usopen,1102,Eliot Spizzirri,Alex Michelsen
2,2024-usopen-1103,2024,usopen,1103,Mattia Bellucci,Stan Wawrinka
3,2024-usopen-1104,2024,usopen,1104,Christopher O'Connell,Nicolas Jarry
4,2024-usopen-1105,2024,usopen,1105,Arthur Fils,Learner Tien
...,...,...,...,...,...,...
248,2024-usopen-2503,2024,usopen,2503,Paula Badosa,Emma Navarro
249,2024-usopen-2504,2024,usopen,2504,Qinwen Zheng,Aryna Sabalenka
250,2024-usopen-2601,2024,usopen,2601,Jessica Pegula,Karolina Muchova
251,2024-usopen-2602,2024,usopen,2602,Emma Navarro,Aryna Sabalenka
252,2024-usopen-2701,2024,usopen,2701,Jessica Pegula,Aryna Sabalenka

In [67]:
matches[matches['match_id'] == '2024-usopen-1101']['player1']

0    Jannik Sinner
Name: player1, dtype: object

In [68]:
ids = matches['match_id']

In [74]:
## Returns a dictionary of match ids and the players from that match. Key: match_ids (String). Pair: (Player 1, Player 2) (Tuple)

def getPlayersFromIds(matches_fileloc):

    matches = pd.read_csv("../data/raw/match/2024-usopen-matches.csv")

    match_id_data = { }

    for _, row in matches.iterrows():
    
        p1 = row['player1']
        p2 = row['player2']
        id = row['match_id']

        match_id_data[id] = (p1, p2)

    return match_id_data

In [76]:
match_id_data = getPlayersFromIds("../data/raw/match/2024-usopen-matches.csv")

match_id_data["2024-usopen-1101"]

('Jannik Sinner', 'Mackenzie McDonald')